/*<meta />*/

div.MCTocProxy_0
{
	border-top: none;
	margin-right: 0.25in;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

table.GenTOCTable1
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 15px;
	margin-bottom: 15px;
	page-break-after: avoid;
}

td.GenTOCText1
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 19pt;
	font-weight: normal;
	letter-spacing: 0.25px;
}

a.GenTOCText1:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 19pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-decoration: none;
}

a.GenTOCText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 19pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-decoration: none;
}

td.GenTOCAutoText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin: 0;
	color: #AAB7B8;
	font-size: 19pt;
	font-weight: normal;
	letter-spacing: 0.25px;
}

td.GenTOCPageText1
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	margin: 0;
	vertical-align: bottom;
	color: #AAB7B8;
	font-size: 19pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-align: right;
	white-space: normal;
}

td.mcReset
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
}

MadCap|xref.TOCPageNumber_0
{
	font-weight: inherit;
	text-decoration: inherit;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

table.GenTOCTable3
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
}

td.GenTOCText3
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 13pt;
	font-weight: normal;
	letter-spacing: 0.25px;
}

a.GenTOCText3:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 13pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-decoration: none;
}

a.GenTOCText3
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 13pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-decoration: none;
}

td.GenTOCAutoText3
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin: 0;
	color: #AAB7B8;
	font-size: 13pt;
	font-weight: normal;
	letter-spacing: 0.25px;
}

td.GenTOCPageText3
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	margin: 0;
	vertical-align: bottom;
	color: #AAB7B8;
	font-size: 13pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-align: right;
	white-space: normal;
}

table.GenTOCTable2
{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	color: inherit;
	letter-spacing: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin-top: 13px;
	margin-bottom: 13px;
}

td.GenTOCText2
{
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 15pt;
	font-weight: normal;
	letter-spacing: 0.25px;
}

a.GenTOCText2:link
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 15pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-decoration: none;
}

a.GenTOCText2
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-align: inherit;
	mc-leader-format: '.';
	mc-leader-indent: 5pt;
	color: #AAB7B8;
	font-size: 15pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-decoration: none;
}

td.GenTOCAutoText2
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	text-align: inherit;
	margin: 0;
	color: #AAB7B8;
	font-size: 15pt;
	font-weight: normal;
	letter-spacing: 0.25px;
}

td.GenTOCPageText2
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	border-left-color: transparent;
	border-left-style: none;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-style: none;
	border-right-width: 0;
	border-top-color: transparent;
	border-top-style: none;
	border-top-width: 0;
	border-bottom-color: transparent;
	border-bottom-style: none;
	border-bottom-width: 0;
	background-color: transparent;
	background-image: none;
	float: inherit;
	font-family: inherit;
	font-style: inherit;
	font-variant: inherit;
	text-transform: inherit;
	word-spacing: inherit;
	text-decoration: inherit;
	margin: 0;
	vertical-align: bottom;
	color: #AAB7B8;
	font-size: 15pt;
	font-weight: normal;
	letter-spacing: 0.25px;
	text-align: right;
	white-space: normal;
}

div.GlossaryPageEntry_0
{
	display: block;
	margin-bottom: 12pt;
}

div.GlossaryPageTerm_0
{
	display: block;
	font-size: 12pt;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 10px;
	page-break-after: avoid;
	column-break-after: avoid;
}

div.GlossaryPageDefinition_0
{
	display: block;
	font-size: 10pt;
	margin-left: 24pt;
	page-break-before: avoid;
	column-break-before: avoid;
}

div.MCGlossaryProxy_0
{
	border-top: none;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: black;
	padding-top: 10px;
	margin-top: 10px;
	padding-left: 20px;
}

div.GlossaryPageHeading_0
{
	display: block;
	font-size: 21pt;
	font-weight: normal;
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom-color: var(--Medium);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: left;
	color: inherit;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 10px;
	background-image: url('../Images/Backmatter-Heading-Background.png');
	background-repeat: no-repeat;
	margin-left: 0pt;
	page-break-after: avoid;
	column-break-after: avoid;
}

